<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>DC</title>
</head>
<body>
    <div class="container">
    <h1>Collecting heights</h1>
    <h3>Please fill the entries to get population statistics on height</h3>
    <div>
        <form method='POST' action="success.html">
            <input type="email" name="email" placeholder="Enter your email address" required>
        </form>
    </div>
    <div>
        <form method='POST' action="/">
            <input type="number" name="height"  placeholder="Enter your height in cm" required>
        </form>
    </div>
    <div>
        <button type="submit">SUBMIT</button>
    </div>
</div>
</body>
</html>