<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>DC</title>
</head>
<body>
    <div class="container">
    <h1>Collecting heights</h1>
    <h3>Please fill the entries to get population statistics on height</h3>
    
        <form method='POST' action="success.html">
            <div>
                <input title="Your email will be safe with us"  type="email" name="email_name" placeholder="Enter your email address" required>
            </div>
            <div>
                <input title="Your data will be safe with us" type="number" name="height_name"  placeholder="Enter your height in cm" min="50" max="300" required>
            </div>
            <div>
                <button type="submit">SUBMIT</button>
            </div>
        </form>
    </div>
</body>
</html>